.helpPage_parent_container{
    position: fixed;
    top: 3.5rem;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 8888;
    width: calc(83% - 8rem);
    height: calc(91.90% - 10rem);
    padding: 5rem 4rem;

    background-color: white;
    overflow-y: scroll;
    
    
}
.helpPage_parent_container::-webkit-scrollbar{
    display: none;
}
.helpPage_child_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    width: 70%;
    background-color: white;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: .8rem;
    padding: 2rem;
}
.helpPage_title{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    width: 100%;
    gap: .25rem;
}

.helpPage_content_container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.helpPage_content_title{
    font-size: 1.25rem;
    font-weight: 700;
}
.helpPage_content_container li{
    font-weight: 600;
}
.helpPage_close_btn{
position: absolute;
    top: 1rem;
    right: 2rem;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: black;
  border: solid 2px black;
  color: white;
  outline: none;
  transition: all 150ms ease-in-out;
}
.helpPage_close_btn:hover{
background-color: white;
  color: black;
  cursor: pointer;
}
