.nav_panel {
  position: fixed;
  top: 3.5em;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15em;
  padding: 1rem 0 0 1rem;
  background-color: white;
  overflow-y: scroll;
  z-index: 10;

}
.nav_panel::-webkit-scrollbar{
  display: none;
}

.nav_child {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;

  font-weight: 600;
  transition: all 150ms ease;
  height: 3em;
}

.nav_child.active,
.nav_child:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}
