.nav_panel {
  position: fixed;
  top: 3.5em;
  /* border: solid 1px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15em;
  padding: 1rem 0 0 1rem;
  background-color: white;
  overflow-y: scroll;
  z-index: 10;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.nav_panel::-webkit-scrollbar{
  display: none;
}

.nav_child {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-radius: .4rem 0rem 0 .4rem;
  font-weight: 600;
  transition: all 150ms ease;
  height: 3em;
}

.nav_child.active,
.nav_child:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
}
