.nav_panel {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3em);
  width: 15em;
}

.nav_child {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;

  font-weight: 600;
  transition: all 150ms ease;
  height: 3em;
}

.nav_child.active,
.nav_child:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}
