.page_header{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 3.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page_title_logo{
    height: 2.5em;
    display: flex;
    margin: 0 2rem;

}

.search_bar_container{
    height: 55%;
    width: 25em;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2rem;
    border-radius: .8rem;

}
.search_bar{
    height: 90%;
    width: 90%;
    padding: 0 .5rem;
    border: none;
}
.search_bar:focus{
    outline: none;
}

.side_header_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 15em;
    
}

.createPost_btn{
    width: 7em;
    font-weight: 600;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: .4rem;
    padding: .2rem;
    border: none;

    transition: all 150ms ease-in-out;
    margin-right: 1rem;

}
.createPost_btn:hover{
    background-color: rgb(37, 37, 37);
    

}

.circlePlus_svg{
    width: .9.5em;
    height: .9.5em;
}

.notification_btn{
    border-radius: 100%;
     width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
}

.notification_btn .bell_svg{
color: white;
transition: all 150ms ease-in-out;

}
.notification_btn .bell_svg:hover{
    cursor: pointer;
    color: rgb(205, 205, 205);

}   
.notification_btn:focus{
    outline: none;
}

.profile_btn{
    width: 2em;
    height: 2em; 
    transition: all 150ms ease-in-out;
    
}

.profile_btn:hover{
    cursor: pointer;
    width: 2.05em;
    height: 2.05em; 
}
.profile_img{
    width: 100%;
    height: 100%;
}
