.profilePage_parent_container{
    position: fixed;
    width: 70em;
    top: 3.5em;
    left: 15em;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
   overflow-y: scroll;
   
    
}
.profilePage_parent_container::-webkit-scrollbar{
    display: none;
}
.profilePage_container{
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
   
    width: 60%;
    align-items: start;
    padding: 1rem;
    gap: 2rem;
    margin: 0 0 0 9rem;
}
.header_profile_container{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    width: 100%;
}
.pfp_username_container{
      display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.profilePic{
width: 5em;
height: 5em;
border: solid 2px black;
border-radius:50%;
background-color: white;
}
.userName_container{
    font-weight: 700;
    font-size: 1.5rem;
}
.profilePage_dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}
.dashBoard_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}
.profilePage_nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
    margin: 0 auto;
}
.profilePage_nav_child{
     border-radius: 1rem;
    border: solid 2px black;
    background-color: black;
    color: white;
    width: fit-content;
    padding: .4rem 2rem;
    font-weight: 800;
    font-size: 1rem;
    height: 2.3em;
    transition: all 150ms ease-in-out;
}
.profilePage_nav_child:hover{
     cursor: pointer;
background-color: white;
    color: black;
}
.profilePage_post_container{
    
    width: 100%;
    height: 25em;
    margin: 0 auto;
    
}
