.profilePage_parent_container {
  position: fixed;
  width: 82.85%;
  height: calc(100vh - 3.5em);
  top: 3.5em;
  left: 16.1em;
  display: flex;

  justify-content: start;
  align-items: start;
  background-color: white;
  overflow-y: scroll;
  z-index: 8888;
}

.profilePage_parent_container::-webkit-scrollbar {
  display: none;
}
.profilePage_close_btn {
  margin-top: 2rem;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: black;
  color: white;
  outline: none;
  transition: all 150ms ease-in-out;
}
.profilePage_close_btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: solid 2px black;
}
.profilePage_container {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;

  width: 60%;
  align-items: start;
  padding: 1rem;
  gap: 1.5rem;
  margin: 0 0 0 9rem;
}
.header_profile_container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  width: 100%;
}
.pfp_username_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.profilePic {
  width: 5em;
  height: 5em;
  border: solid 2px black;
  border-radius: 50%;
  background-color: white;
}
.userName_container {
  font-weight: 700;
  font-size: 1.5rem;
}
.profilePage_dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}
.dashBoard_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.profilePage_nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  margin: 0 auto;
}
.profilePage_nav_child {
  border-radius: 1rem;
  border: solid 2px black;
  background-color: white;
  color: black;
  width: fit-content;
  padding: 0.4rem 2rem;
  font-weight: 800;
  font-size: 1rem;
  height: 2.3em;
  transition: all 150ms ease-in-out;
}
.profilePage_nav_child:hover {
  cursor: pointer;
  
  background-color: black;
  color: white;
}
.profilePage_child_container {
  width: 100%;
  height: 25em;

  margin: 0 auto;
}
.profilePage_childContainer_title {
  font-size: 1.75rem;
  font-weight: 700;
}
.profilePage_post_container {
  
}
.profilePage_savePost_Container {
  
}
.profilePage_achievements_Container {
  display: none;
}

.profilePage_editProfile_Container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1.5rem 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 40em;
  border-radius: 0.8rem;
}
.changePfp_img {
  width: 5em;
  height: 5em;
  border: solid 2px black;
  border-radius: 50%;
  background-color: white;
}
.change_pfp_btn {
  width: fit-content;
  height: fit-content;

  border: solid 2px black;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.5rem;
  transition: all 150ms ease-in-out;
  background-color: white;
}
.change_pfp_btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.changeProfile_field_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.changeProfile_field_childContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 2rem;
  gap: 0.2rem;
  width: 100%;
  border: solid 1px black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.4rem;
  font-size: 1.25rem;
}
.changeProfile_field_childContainer input {
  width: 83%;
  border: none;
  background-color: transparent;
  padding: 0 0.5rem;
}
.changeProfile_field_childContainer input:focus {
  outline: none;
}
.changeProfile_btn {
  width: 12%;
  height: fit-content;

  /* border: solid 2px black; */
  border: none;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.5rem;
  transition: all 150ms ease-in-out;
  background-color: white;
  color: black;
}
.changeProfile_btn:hover {
  cursor: pointer;

  background-color: black;
  color: white;
}

.profilePage_savePost_Container{
  margin: 0 auto;
  display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    width: 85%;
    background-color: white;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: .8rem;
    padding: 2rem;
}
.profilePage_savePost_title{
  font-size: 1.5rem;
    font-weight: 700;
}
.savePost_header{
  display: flex;
  width: 100%;
 justify-content: space-between;
 align-items: center;
}
.savedPost_searchBar_container{
   display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: .8rem;
    border: solid 2px black;
    padding: 0 .25rem;
}
.savedPost_searchBar_container svg{
  height: 80%;
}

.savedPost_searchBar_field, .savedPost_searchBar_field:focus{
 background-color: transparent;
    border: none;
    padding: 0 .5rem;
     outline: none;
}
