.report_post_parent_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.report_post_modal {
  background-color: white;
  border-radius: 0.4rem;
  width: 15em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;

  padding: 1.5rem;
  gap: 1rem;
}
.report_post_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.report_post_subtitle {
  font-size: 0.8rem;
}
.report_post_option_container {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 0.5rem;
}
.option_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.report_post_actionBtn_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.report_post_btn {
  border-radius: 0.8rem;
  border: none;
  background-color: black;
  color: white;
  width: 7em;
  font-weight: 700;
  font-size: 0.8rem;
  height: 2.25em;
  transition: all 150ms ease-in-out;
}
.report_post_btn:hover {
  cursor: pointer;
  background-color: rgb(28, 28, 28);
}
