.settings_parent_container{
     position: fixed;
  width: 82.85%;
  height: calc(100vh - 3.5em);
  top: 3.5em;
  left: 16.1em;
  display: flex;

  justify-content: start;
  align-items: start;
  background-color: white;
  
  z-index: 7777;
}
.settings_modal_container{
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1.5rem 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.5rem auto 0 auto;
  width: 40em;
  height: auto;
  border-radius: 0.8rem;
}
.settings_modal_title{
      font-size: 1.75rem;
  font-weight: 700;

}
.settings_child_container{
    font-weight: 500;
    margin: 0 1.5rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}   
.subSetting_title{
    font-weight: 700;
}
.subSetting_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     margin-left: 1rem;
     width: 100%;
    
     
     

}
.subSetting_child_container{
    display: flex;
    align-items: center;
    gap: .5rem;
    
}

.subSetting_container button{
    
    background-color: transparent;
    border: none;
    transition: all 150ms ease-in-out;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    

}
.subSetting_container button:hover{
    cursor: pointer;
}
.settings_close_btn {
  margin: 1.5rem 2rem;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: black;
  color: white;
  outline: none;
  transition: all 150ms ease-in-out;
}
.settings_close_btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: solid 2px black;
}
.toggleBody{
  width: 3em;
        height: 1.5em;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 3px;
        transition: background-color 0.3s ease;
}
.toggleCircle{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: white;
  transition: transform .3s ease;
  
}