body{
    display: flex;
    justify-content: center;
    
    align-items: center;
    

    font-family: "Montserrat", sans-serif;
    
}

.signIn_container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20em;
    height: 25em;
    border-radius: 0.4rem;

    margin-top: 5em;

}

.signIn_title{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0 0 2rem;
}

.input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
}
.input_childContainer{
    display: flex;
    flex-direction: column;
    margin-top: .5em;
}

.signIn_labels{
    align-self: self-start;
    
    font-size:.8rem;

}

.signIn_input{
    width: 18em;
    height: 2.5em;
    border-radius: 0.80em;  
    
    padding: 0 .5rem;
}




.password_wrapper {
  position: relative;
  width: 15em; /* match input width */
  align-self: center;
  margin-right: 15px;
}


.showPass_btn {
  position: absolute;
  
  right: -.5rem; /* small padding from the edge */
  top: 35%;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.showPass_btn:hover {
  color: #000;
}

.forgetPass_link{
    font-weight: 600;
    text-decoration: underline;
    color: black;
    font-size: .6rem;
    text-align: end;
    margin-bottom: -.5rem;
    margin-right: 1.7rem;
}



.signIn_btn{
    width: 280px;
    height:  80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.85rem;

    background-color: #212830;
    color: white;
    border-radius: .5rem;
    
}
.signIn_btn:hover{
    cursor: pointer;
}

.rememberMe_container{
    margin: 1.5rem 0 1rem 1rem;
    font-size: .8rem;
    align-items: center;
    display:flex ;
}

.createAcc_link{
    text-align: center;
    font-weight: 500;
    font-size: .6rem;
}
.signUp_link{
    font-weight: 600;
    color: black;
}


.seperator{
     margin: .8rem ;
     text-align: center;
     position: relative;
     
}
.seperator .or_text{
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 0 .6rem  .4rem;
    font-size: .7rem;
    font-weight: 500;
}
.seperator::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #212830;
}

.google_signIn{
    margin-bottom: 1rem;
}

.google_logo{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

