.nav_panel{
    border: solid 1px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5.58em);
    width: 15em;
    padding-top: 2rem;
    
}

.nav_child{
   
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .4rem;
    padding: .5rem .5rem .5rem 2rem;
   

    font-weight: 600;
    transition: all 150ms ease;
    height: 3em;

}




.nav_child.active,.nav_child:hover{
   cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}