.page_header{
    background-color: black;
    width: 100%;
    height: 3.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page_title_logo{
    height: 2.5em;
    display: flex;
    margin: 0 2rem;

}

.search_bar_container{
    height: 55%;
    width: 25em;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2rem;
    border-radius: .8rem;

}
.search_bar{
    height: 90%;
    width: 90%;
    padding: 0 .5rem;
    border: none;
}
.search_bar:focus{
    outline: none;
}

.side_header_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 15em;
    /* border: solid 1px red; */
}

.createPost_btn{
    width: 7em;
    font-weight: 600;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: .4rem;
    padding: .2rem;
    border: none;

    transition: all 150ms ease-in-out;
    margin-right: 1rem;

}
.createPost_btn:hover{
    background-color: rgb(37, 37, 37);
    

}

.circlePlus_svg{
    width: .9.5em;
    height: .9.5em;
}

.notification_btn{
    border-radius: 100%;
     width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
}

.notification_btn .bell_svg{
color: white;
transition: all 150ms ease-in-out;

}
.notification_btn .bell_svg:hover{
    cursor: pointer;
    color: rgb(205, 205, 205);

}   
.notification_btn:focus{
    outline: none;
}

.profile_btn{
    width: 2em;
    height: 2em; 
    transition: all 150ms ease-in-out;
    
}

.profile_btn:hover{
    cursor: pointer;
    width: 2.05em;
    height: 2.05em; 
}
.profile_img{
    width: 100%;
    height: 100%;
}
.createPost_parent_modal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);

    display: flex;
    justify-content: center;
    align-items: center;
}
.createPost_container_modal{
    background-color: white;
    border-radius: 0.4rem;
    width: 25em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;

    padding: 1.5rem;
    gap: 1rem;
}
.createPost_modal_title{
    
    font-weight: 700;
    font-size: 1.5rem;
}
.category_dropDown{
    border: solid 2px black;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .4rem;
    width: 8em;


}
.create_title_field,
.create_body_field{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.create_field_label{
    margin-bottom: .2rem;
    font-weight: 500;
}
.create_field{
    border-radius: .4rem;
    border: solid 2px black;
    height: 2rem;
}

.create_textarea{
    border-radius: .4rem;
    border: solid 2px black;
    height: 10em;
    resize: none;
}
.create_field:focus,.create_textarea:focus{
    outline: none;
}
.create_footer_modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.upload_img_btn{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.cancelPost_btn_container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 20em;
    
    gap: 2rem;
}
.cancelPost_btn{
    border-radius: .8rem;
    border: none;
    background-color: black;
    color: white;
    width: 7em;
    font-weight: 700;
    font-size:.9rem;
    height: 2.25em;
}