.auditPage_parent_container{
width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}
.auditPage_child_container{
display: flex;
  flex-direction: row;
}
.auditPage_body{
 position: absolute;
    top: 3.5rem;
    right: 0;
 padding: 1.5rem 3rem;

  width: 77%;
  height: calc(100vh - 6.6em);

  display: flex;
  flex-direction: column;

  align-items: center;
  /* border: solid 1px red; */
  gap: 1.5rem;
}
.auditPage_title{
 font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
}
.auditPage_filter_container{
width: 94.5%;
height: 5rem;
padding: 0 2rem;
display: flex;
justify-content: end;
align-items: center;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
border-radius: .8rem;
}
.filterTab_searchBar{
display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: .8rem;
    border: solid 3px black;
    padding: 0 .25rem;
    height: 60%;
}
.filterTab_searchBar svg{
     height: 80%;
}
.filterTab_searchField,.filterTab_searchField:focus{
 background-color: transparent;
    border: none;
    padding: 0 .5rem;
    outline: none;
    
}

.auditPage_auditTable_container{
width: 95.5%;
max-height: 20em;
border-radius: .4rem;
padding: 1.5rem;
overflow-y: scroll;
background-color: whitesmoke;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.auditPage_auditTable_container::-webkit-scrollbar{
display: none;
}
.auditTable_title{
 font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auditTable{
 width: 100%;
  
  border-collapse: collapse;
  font-size: 0.85rem;
}
.auditTable thead th {
  padding: 0.8rem;
  text-align: start;
  font-weight: 700;
  background-color: whitesmoke;
  border-bottom: 2px solid #dbd9d9; /* optional */
  white-space: nowrap;

}
.auditTabletbody tr {
  border-bottom: 1px solid #eee; /* line divider */
}
.auditTable td {
  padding: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
}
.auditTable tbody tr:hover {
  background-color: #fafafa;
  transition: 0.2s;
}
