
.parent_container{
   display: flex;
  min-height: 100vh; 
  width: 100vw;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}
.forgetPass_main_container{

    width: 25em;
    height: 17em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem;
}
.container_title{
    font-weight: 600;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.childText1{
    font-weight: 500;
    font-size: .7rem;
    text-align: center;
    width: 90%;
    margin: 1rem auto 0 auto;
}

.forgetPass_child_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 18em;
    margin: 2em auto;

}
.field_label{
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  margin-bottom: 0.2rem;
}
.forgetPass_field{
  height: 2.5em;
  border-radius: 0.4rem;
  border: solid 2px black;
  padding: 0 0.5rem;
}

.validationText{
    font-weight: 400;
    font-size: 0.8rem;
    color: black;
    margin-top: 0.1rem;
    display: none;
}

.forgetPass_btn{
  width: 21em;
  height: 2.6em;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  border: solid 1.5px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #212830;
  color: white;

  margin: 2em auto 0.2rem auto;
}

.tryText_container{
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}

.try_text{
  cursor: pointer;
  font-weight: 600;
  color: black;
  
}
