body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.home_container{
    width: 100%;
    margin:0;
    padding: 0;

    display: flex;
    flex-direction: column;
}


.page_body{
    display: flex;
    flex-direction: row;

}



.home_main_container{
    padding: 1rem 0 ;

    width: calc(100vw - 15em);
     height: calc(100vh - 5.6em);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}


.post_container{
    height: 30em;
    width: 55em;
    border: solid 1px rgb(0, 0, 0);
}

.dropDown_profile_modal{
    position: fixed;
    right: 0em;
    top: 3.5em;
    display: flex;
    flex-direction: column;
    width: 9em;
    height: 9.5em;
    align-self: self-start;

    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: .5em;
}

.dropDown_btn{

    display: flex;
    justify-content: start;
    padding-left: 1rem;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .5rem;
    font-weight: 400;
    border: none;

    background-color: white;
}

.dropDown_btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}



 