.quizPage_parent_container{
 width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}
.quizPage_body_container{
display: flex;
  flex-direction: row;
}
.quizPage_main_container{
padding: 1rem 0;

  width: calc(100vw);
  height: calc(100vh - 2.1em);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}
.quiz_parent_container{
    position: absolute;
    left: 27rem;
    top: 9rem;
    display: flex;
    flex-direction: column;
    width: 57em;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}
.quiz_container_title{
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
}
.quiz_container{
    width: 80%;
    height: 5em;
    
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 1.5rem;
   
    
}
.quiz_card{
    width: 20em;
    border-radius: .8rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 13em;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.1rem;
    
}
.quizCard_header{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; /* even spacing */
    
    width: 100%;
   

}

.quizCard_category{
    font-size: .7rem;
    width: fit-content;
    white-space: nowrap;
    padding: .25rem .5rem;
    background-color: black;
    color: white;
    border-radius: .8rem;
}
.quizCard_title{
    width: 100%;
    font-weight: 700;
}
.quizCard_description{
    font-size: .75rem;
    text-align: justify;
    width: 100%;
}
.takeQuiz_btn_container{
    width: 100%;
    display: flex;
    justify-content: end;
}
.takeQuiz_btn{
    font-size: .8rem;
    width: fit-content;
    padding: .25rem .5rem;
    background-color: black;
    color: white;
    border-radius: .8rem;
    border: solid 2px black;
    transition: all 150ms ease-in-out;
}
.takeQuiz_btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.quiz_wrapper{
 position: fixed;
 top: 3.5rem;
 right: 0rem;
 width: calc(100vw - 17.2em);
 height: calc(100vh - 3.5rem);
 background-color: white;
 z-index: 9999;
}

.exitQuiz_btn{
    position: absolute;
    top: 4rem;
    right: 7rem;
  border: none;
  border-radius: .8rem;
  height: 3em;
  width: 8em;
  gap: .2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: black;
  border: solid 2px black;
  color: white;
  outline: none;
  transition: all 150ms ease-in-out;
}

.exitQuiz_btn:hover{
    background-color: white;
  color: black;
  cursor: pointer;
  
}
.exitQuiz_btn svg{
    font-size: .7rem;
}
.question_card {
   position: absolute;
   top: 8rem;
   left: 19rem;
 background-color: white;
 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem;
  border-radius: 20px;
  width: 600px;
  margin: auto;
  text-align: center;
  
}
.quiz_title{
    margin: 0;
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
}
.question_number{
    font-weight: 500;
}

.question_text{
    margin: 3rem auto;
      white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 600;
}

.choices_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.choice_btn {
  padding: .9rem;
  border-radius: 2rem;
  background: #000;
  border: solid 2px black;
  font-weight: 600;
  color: white;
  transition: all 150ms ease-in-out;
}
.choice_btn:hover{
  background: white;
  color: black;
  cursor: pointer;
}

.choice_btn.active {
  background: #444;
}

.quiz_nav {
  display: flex;
  width: 99.7%;
   justify-content: center;
  gap: 45rem;
 
  position: absolute;
  top: 18em;
 
 
}

.submit_btn {
    position: absolute;
    top: 33rem;
    left: 37rem;
    width: fit-content;
    padding: .4rem 1rem;
    font-size: 1.2rem;
    border: solid 2px black;
  border-radius: .8rem;
  background: black;
  color: white;
transition: all 150ms ease-in-out;
}
.submit_btn:hover{
      background: white;
  color: black;
  cursor: pointer;
}
.navQuestion_btn{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 1.5em;
    height: 1.5em;
    font-size: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
    
}
.navQuestion_btn:hover{
    background-color: #ededed;
    cursor: pointer;
}
.navQuestion_btn .arrowSvg{
    width: 100%;
    height: 100%;
}
