
.resetPass_parent_container{
    display: flex;
  min-height: 100vh; 
  width: 100vw;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

.resetPass_container{
    width: 23em;
  
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0.4rem;
    background-color: white;
    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.resetPass_title{
  font-weight: 600;
  font-size: 1.5rem;
 
  text-align: center;
  font-weight: 600;
}
.resetPass_subtitle{
  font-weight: 500;
    font-size: .7rem;
    text-align: center;
    width: 100%;

}
.resetPass_parent_fieldContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 22em;
    justify-content: center;
    margin: auto;
    
}

.resetPass_input_field {
  width: 100%;
  height: 2.8em;
  border-radius: 0.4rem;
  border: solid 2px black;
  padding: 0 0.8rem;
  box-sizing: border-box;
  font-size: 0.95rem;
  margin-top: .2rem;
 
}

.resetPass_input_field:focus {
  outline: none;
}
.resetPass_field_wrapper,
.input-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  
}

.resetPass_eye_button {
  position: absolute;
  top: 60%;
  right: 0.6rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.resetPass_field_label{
    font-size: 0.8rem;
  color: rgb(0, 0, 0);
  margin-left: 2rem;

}
.changePass_btn_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.changePass_btn{
  width: 21em;
  height: 2.6em;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  border: solid 1.5px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #212830;
  color: white;

  margin: 1em auto 0.2rem auto;
}
.login_link{
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  color: black;
}